.textArea1{

    background-color:rgba(146, 164, 147, 0.88);
    white-space: normal;
    word-break:break-all;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 30%;
    margin-right: 30%;


    padding: 10px;
}
.LoginTitle{
    margin-top: 5%;
    margin-bottom: 5%;
}
.textArea2{
    border-radius: 2px;

    padding: 10%;
}


.form-group{

    margin: 3%;
}

.form-control{

}



